---
import ContactButton from "../components/ContactButton.astro";
---

<section id="home" class="flex items-stretch relative min-h-screen w-full max-w-screen overflow-x-hidden">
  <!-- Background Image -->
  <div class="absolute inset-0 bg-[url('/assets/programming.jpg')] bg-cover bg-center bg-no-repeat">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/70">
      <!-- Content -->
      <div class="container mx-auto flex flex-col items-center justify-center w-full h-full gap-y-[3.125rem] text-white">
        <div class="text-center">
          <h1 class="text-4xl lg:text-6xl lg:max-w-[45rem] font-bold">
            Professional Website for Your Business
            <span class="block text-base font-normal pt-[3.125rem]"> Ready to buy? Contact now. </span>
          </h1>
        </div>
        <div>
          <ContactButton />
        </div>
      </div>
    </div>
  </div>
</section>
