---
import ContactButton from "../components/ContactButton.astro";
---

<section id="home" class="flex items-stretch relative min-h-full w-full overflow-x-hidden border border-red-700">
  <div class="absolute inset-0 bg-[url('/assets/programming.jpg')] bg-cover bg-center bg-no-repeat border border-red-700">
    <div class="absolute inset-0 bg-black/70 border border-red-700">
      <div class="container mx-auto flex flex-col items-center justify-center w-full h-full gap-y-[3.125rem] text-white border border-red-700">
        <div class="text-center border border-red-700">
          <h1 class="text-4xl lg:text-6xl lg:max-w-[45rem] font-bold border border-red-700">
            Professional Website for Your Business
            <span class="block text-base font-normal pt-[3.125rem] border border-red-700"> Ready to buy? Contact now. </span>
          </h1>
        </div>
        <div>
          <ContactButton />
        </div>
      </div>
    </div>
  </div>
</section>
