---
import SkillCards from "../components/SkillCards";
---

<section id="skill" class="bg-lightBlue w-full min-h-[50.625rem] py-[4.02rem]">
  <div class="w-full h-full">
    <div class="flex flex-col items-center gap-y-3">
      <div>
        <h1 class="text-navyBlue font-bold text-4xl">Skill</h1>
      </div>
      <div class="mb-11">
        <p class="text-white">These are some of the Tech Stack I've learnt</p>
      </div>
    </div>
  </div>
  <SkillCards client:idle />
</section>
