---
import SkillCards from "../components/SkillCards";
---

<section id="skill" class="bg-lightBlue w-full min-h-[50.625rem] py-[4.02rem] border border-red-700">
  <div class="w-full h-full border border-red-700">
    <div class="flex flex-col items-center gap-y-3 border border-red-700">
      <div>
        <h1 class="text-navyBlue font-bold text-4xl border border-red-700">Skill</h1>
      </div>
      <div class="mb-11 border border-red-700">
        <p class="text-white border border-red-700">These are some of the Tech Stack I've learnt</p>
      </div>
    </div>
  </div>
  <SkillCards client:idle />
</section>
